@CHARSET "UTF-8";
h3.yes-intro{padding-bottom:6px;padding-top:12px;}
.entry .postmetadata{float:none;padding-left:0;padding-bottom:3px;}
.search-results p{padding-bottom:5px;margin-bottom:0px;}
.entry p.postmetadata{padding-bottom:2px;margin-bottom:2px;}
.search-results{padding-bottom:12px}
nav#nav-below{width:384px;padding-left:12px;font-size:12px;}
.nav-previous{float:left;}
.nav-next{float:right;}