@CHARSET "UTF-8";
html {
    overflow-y: scroll;
}
h3.yes-intro{padding-bottom:6px;padding-top:12px;}
.entry .postmetadata{float:none;padding-left:0;padding-bottom:3px;color:rgb(80,80,80);}
.search-results p{padding-bottom:5px;margin-bottom:0px;}
.entry p.postmetadata{padding-bottom:2px;margin-bottom:2px;}
.search-results{padding-bottom:12px}
nav#nav-below{float:left;display:block;width:384px;padding-left:12px;font-size:12px;padding-top:14px;padding-bottom:8px;font-weight:bold;}
.nav-previous{float:left;}
.nav-next{float:right;}
.videos{margin-top:-10px;}
.no-padding{padding-top:0px;margin-top:0px;}
.padding-bottom{padding-bottom:12px;}
.segnalaRight{min-height:10px;}
.boxes p.segnala2{padding-top:12px;}
.boxesSecondLine{min-height:10px;}
p.segnala2 a{font-weight:bold;}
a.segnala, a.segnala:link, a.segnala:active, a.segnala:hover, a.segnala:visited{color:#4150B4;}
a.title-link, a.title-link:visited{font-family: georgia;color:#4150B4;}
.tubepress_thumb{margin-right:20px;}
.tubepress_thumb img{padding:1px;}
.tubepress_thumbnail_area, .tubepress_thumbs{width:584px;}
.smallAlignRight{position:static;float:right;}
li.widget_tubepress h2{padding-top:14px;}
ul.videoWidget li.widget_tubepress div.tubepress_sidebar{padding-top:12px;}
.tubepress_container{margin-bottom:0;}
/*NEWSLETTER*/
div.newlettersubscription{position:relative;border:none;text-align:right;margin:0;padding:6px 0 2px 0;font-family:Trebuchet MS;font-weight:bold;font-size:12px;float:left;}
.newsletterTextInput{height:14px;width:203px;}
div.questions{top:60px;}
.padding-bottom-doubled{padding-bottom:18px;}
div#videoSidebar ul.videoWidget li#argwa-2{display:none;}